<div class="col-lg-6 col-md-6 col-xs-12">
    <form class="form-horizontal">
        <div class="form-group form-group-sm">
            <div class="col-sm-10 col-sm-offset-2">
                <label class="control-label">
                    <input 
                        type="radio"
                        name="round" 
                        [(ngModel)] = "flight.round"
                    > 
                    Round trip
                </label>
                <label class="control-label">
                    <input 
                        type="radio"
                        name="oneWay"
                        [(ngModel)] = "flight.oneWay" 
                    > 
                    One-way
                </label>    
            </div>
        </div>
        
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label" for="from">From</label>
            <div class="col-sm-10">
                <select 
                    class="form-control" 
                    name="from"
                    [(ngModel)] = "flight.from"
                    #name="ngModel"
                >
                    <option>--Select country--</option>
                    <option 
                        *ngFor="let origin of origins"
                        value="{{origin.iata}}"
                    >
                        {{origin.name}}
                    </option>
                </select>
                <div [hidden]=""></div>
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label" for="to">To</label>
            <div class="col-sm-10">
               <select 
                    class="form-control" 
                    name="to"
                    [(ngModel)] = "flight.to"
                >
                    <option selected>--Select country--</option>
                    <option 
                        *ngFor="let destination of destinations"
                        value="{{destination.iata}}"
                    >
                        {{destination.name}}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group form-group-sm">
            <div class="col-sm-10 col-sm-offset-2">
                <label class="control-label">
                    <input 
                        type="checkbox"
                        name="bussines"
                        [(ngModel)] = "flight.bussines"
                    > 
                    Bussines Class
                </label>
                <label class="control-label">
                    <input 
                        type="checkbox"
                        name="economy"
                        [(ngModel)] = "flight.economy"
                    > 
                    Economy Class
                </label>    
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label" for="to">Departure</label>
            <div class="col-sm-10">
               <input 
                    class="form-control" 
                    type="date" 
                    name="departureDate"
                    [(ngModel)] = "flight.dapertureDate"
                >
            </div>
        </div>

         <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label" for="to">Return</label>
            <div class="col-sm-10">
               <input 
                    class="form-control" 
                    type="date" 
                    name="returnDate"
                    [(ngModel)] = "flight.returnDate"
                >
            </div>
        </div>

         <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label" for="to">Adults(+12)</label>
            <div class="col-sm-2">
               <select 
                    class="form-control" 
                    name="adults"
                    [(ngModel)] = "flight.adults"
                >
                    <option 
                        *ngFor="let adult of adults" 
                        value="{{adult}}"
                    >
                        {{adult}}
                    </option>
                </select>
            </div>

             <label class="col-sm-2 control-label" for="to">Childrens</label>
            <div class="col-sm-2">
               <select 
                    class="form-control" 
                    name="childrens"
                    [(ngModel)] = "flight.childrens"
                >
                    <option
                        *ngFor="let children of childrens" 
                        value="{{children}}"
                    >
                        {{children}}
                    </option>
                    
                </select>
            </div>

             <label class="col-sm-2 control-label" for="to">Infants</label>
            <div class="col-sm-2">
               <select 
                    class="form-control" 
                    name="infants"
                    [(ngModel)] = "flight.infants"
                >
                    <option 
                        *ngFor="let infant of infants"
                        value="{{infant}}"
                    >
                    {{infant}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-4">
                <button type="submit" class="btn btn-default">Search flight</button>
            </div>
        </div>
        
    </form>
</div>
{{diagnostic}}